.future-forecast-container {
  overflow-y: auto;
}
.summary-container {
  // background-color: rgb(37, 28, 51) !important;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.description {
  color: grey;
  margin: auto;
  width: fit-content;
  margin-bottom: 1.5rem;
}
.summary-image {
  width: 8rem;
  height: 100%;
  margin-right: 2rem;
}
.forecast-img {
  width: 3rem;
  height: 3rem;
}
.today-forecast-section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}
