.card-img {
  padding: 2rem;
}
.card {
  width: 20%;
  background-color: rgb(37, 28, 51);
  color: white;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.saved-location-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(37, 28, 51);
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1.5rem;
}
.card-button {
  font-size: xx-small;
}
.card-text {
  width: fit-content;
  margin-bottom: 0.5rem !important;
}

@media screen and (min-width: 1440px) {
  .card {
    width: 20%;
  }
}
