.header-container {
  background-color: rgb(37, 28, 51);
  margin-top: 0;
  padding: 1rem 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.logo {
  height: 2.5rem;
  width: 2.5rem;
}
.search-bar {
  padding: 0rem 20rem;
  margin-bottom: 0rem !important;
}
